root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true

[*.{cs,csproj,sln,config,resx,settings}]
indent_style = tab
indent_size = 2

[*.{md,yml,yaml,json,toml}]
indent_style = tab
indent_size = 2

[*.md]
trim_trailing_whitespace = false
